<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Wesley Souza, sou
                    estudante de Análise e Desenvolvimento de
                    Sistemas.
                </span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, habilidades e projetos em que atuei.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                    face
                    </i>
                    sobre mim
                </a>

                <a href="#skills">
                    <i class="material-symbols-outlined">
                        computer
                    </i>
                    habilidades
                </a>
            </div>
        </div>
    </section>
</main>