/* box banner */

.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--color-blue-2) 15%, var(--color-blue-3)100%);
    color: #fff;
    padding-top: 70px;
    text-align: center;
}

.banner .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 5px;
}

.banner .box .paragraph {
    margin: 15px 0;
    font-size: var(--font-size-5);
    font-weight: 200;
}

.banner .box .title1 {
    font-size: var(--font-size-3);
}

.banner .box .title2 {
    display: block;
    font-size: var(--font-size-1);
    max-width: 450px;
}

.banner .box .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
    justify-content: space-evenly;
}

.banner .box .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 170px;
    border-radius: 35px;
    margin: 0 5px 15px;
    font-size: var(--font-size-4);
    font-weight: 300;
    background: var(--color-blue-0);
    color: #fff;
    text-decoration: none;
}

.banner .box .buttons a:hover {
    background: var(--color-blue-2);
}

.banner .box .buttons a i {
    margin-right: 5px;
}

/* box about */

.about .box {
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
    padding: 70px 50px;
}

.about .box .img {
    flex: 1;
    margin: 0 auto 20px;
    padding-right: 15px;
}

.about .box .img img {
    width: 240px;
    
}

.about .box .text {
    flex: 3;
    padding: 0 15px;
}

.about .box .text h2 {
    font-size: var(--font-size-1);
}

.about .box .text h3 {
    color: var(--color-blue-0);
    font-size: var(--font-size-2);
    margin-top: 15PX;
}

.about .box .text p {
    margin: 15px 0;
    text-align: justify;
    font-weight: 200;
}

.about .box .text a {
    color: var(--color-pink-1);
    text-decoration: none;
    font-weight: 600;
}

/* SKILLS */

.skills {
    background: var(--color-black-1);
}

.skills .box {
    padding: 70px 70px;
}

.skills .box h2,
.skills .box h3,
.skills .box h4 {
    color: #fff;
}

.skills .box h2 {
    font-size: var(--font-size-2);
}

.skills .box h3 {
    margin: 5px 0 20px;
    font-size: var(--font-size-4);
    font-weight: 500;
}

.skills .box .items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
}

.skills .box .items .skill {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills .box .items .skill:hover {
    background: #ffffff1f;
}

.skills .box .items .skill img,
.skills .box .items .skill svg{
    width: 90px;
}

.skills .box .items .skill h4 {
    margin-top: 15px;
}

/* BOX PROJECTS */

.projects .box {
    padding: 70px 70px;
}

.projects .box h2 {
    font-size: var(--font-size-1);
}

.projects .box h3 {
    margin: 5px 0 20px;
    font-size: var(--font-size-4);
    font-weight: 600;
}

.projects .box p {
    font-weight: 200;
    text-align: justify;
}

.projects .box .project {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.projects .box .project.reverse {
    flex-direction: column-reverse;
}

.projects .box .project .img {
    flex: 1;
}

.projects .box .project .text {
    flex: 1;
    margin-bottom: 15px;
}

.projects .box .project .img img {
    width: 100%;
}

.projects .box .project .text h4 {
    font-size: var(--font-size-3);
    margin-bottom: 15px;
}

.projects .box .project .text .buttons {
    margin-top: 20px;
    display: flex;
}

.projects .box .project .text .buttons a {
    display: inline-flex;
    border-radius: 45px;
    color: #fff;
    height: 30px;
    background: #181616;
    margin-right: 15px;
    padding: 0 12px;
    font-size: var(--font-size-5);
    font-weight: 400;
    align-items: center;
    text-decoration: none;
}

.projects .box .project .text .buttons a.live {
    background: var(--color-pink-1);
}

.projects .box .project .text .buttons a svg,
.projects .box .project .text .buttons a i{
    width: 20px;
    margin-right: 8px;
}



@media (min-width: 768px) {
    .about .box {
        flex-direction: row;
    }

    
    .about .box .img img {
        width: 100%;
        margin: 0 auto;
    }

    .about .box .img img {
        margin: 0 auto;
    }

    .skills .box .items .skill {
        width: 25%;
    }

    .skills .box .items .skill img,
    .skills .box .item .skill svg {
        width: 120px;
    }

    .projects .box .project,
    .projects .box .project.reverse {
        flex-direction: row;
        flex: 1;
    }
}

